<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ng Virtual Keyboard Demo</title>
	<link href="../www/lib/jquery-ui/themes/cupertino/jquery-ui.min.css" rel="stylesheet">
	<link href="../www/lib/keyboard/dist/css/keyboard.min.css" rel="stylesheet">

	<link href="../dist/ng-virtual-keyboard.css" rel="stylesheet">
	<link href="demo.css" rel="stylesheet">

	<script src="../www/lib/jquery/dist/jquery.min.js"></script>
	<script src="../www/lib/jquery-ui/jquery-ui.min.js"></script>
	<script src="../www/lib/keyboard/dist/js/jquery.keyboard.min.js"></script>

	<!-- keyboard extensions (optional) -->
	<script src="../www/lib/keyboard/dist/js/jquery.mousewheel.min.js"></script>
	<script src="../www/lib/keyboard/dist/js/jquery.keyboard.extension-typing.min.js"></script>
	<script src="../www/lib/keyboard/dist/js/jquery.keyboard.extension-autocomplete.min.js"></script>
	
	<script src="../www/lib/angular/angular.min.js"></script>
	<script src="../dist/ng-virtual-keyboard.js"></script>

	<script>
		angular.module('exampleApp', ['ng-virtual-keyboard'])
		.config(['VKI_CONFIG', function(VKI_CONFIG) {
			VKI_CONFIG.layout = 'qwerty';
			VKI_CONFIG.position = {
				of: 'body',
				my: 'center top',
				at: 'center bottom',
				offset: '0 20'
			};
		}])
		.controller('ExampleCtrl', ['$scope', function($scope){
			// Your controller code comes here
		}]);
	</script>
</head>
<body ng-app="exampleApp">
	<div ng-controller="ExampleCtrl">

		<div id="content">
			<h1>Ng Virtual Keyboard</h1>

			<div class="block">
				<h2>
					<span class="tooltip-tipsy">QWERTY Text</span>
				</h2>
				<input type="text"
					ng-model="t01"
					ng-virtual-keyboard="{layout: 'alpha'}"
					placeholder=" Enter something...">
				</input>
				<br>
				<small>
					Model value: {{t01}}<br>
					* Placeholder (watermark).
				</small>
			</div>

			<div class="block">
				<h2>
					<span class="tooltip-tipsy">QWERTY Email</span>
				</h2>
				<input type="email"
					ng-model="t02"
					ng-virtual-keyboard
					placeholder=" Enter a valid email...">
				</input>
				<br>
				<small>
					Model value: {{t02}}<br>
					* Placeholder (watermark).
				</small>
			</div>
		</div>
	</div>
</body>
</html>
